<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kahu Tiernothilfe</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ueber-uns">
                <span class="oi oi-people" aria-hidden="true"></span> Über uns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tiere">
                <span class="oi oi-heart" aria-hidden="true"></span> Tiere
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patenschaften">
                <span class="oi oi-star" aria-hidden="true"></span> Patenschaften
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spenden">
                <span class="oi oi-dollar" aria-hidden="true"></span> Spenden
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kontakt">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Kontakt
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} 