@page "/ueber-uns"
@using DevExpress.Blazor

<PageTitle>Kahu Tiernothilfe - Über uns</PageTitle>

<DxContainer>
    <DxRow>
        <DxCol Size="12">
            <h1>Über uns</h1>
            <p class="lead">
                Kahu Tiernothilfe wurde gegründet, um Tieren in Not zu helfen und ihnen ein besseres Leben zu ermöglichen.
            </p>
        </DxCol>
    </DxRow>

    <DxRow>
        <DxCol Size="6">
            <DxCard>
                <DxCardHeader>
                    <DxCardTitle>Unsere Geschichte</DxCardTitle>
                </DxCardHeader>
                <DxCardBody>
                    <DxCardText>
                        Der Verein wurde aus der Überzeugung heraus gegründet, dass jedes Tier ein Recht auf ein würdevolles Leben hat.
                        Seit unserer Gründung haben wir vielen Tieren helfen können und arbeiten kontinuierlich daran,
                        unsere Hilfe auszuweiten.
                    </DxCardText>
                </DxCardBody>
            </DxCard>
        </DxCol>
        <DxCol Size="6">
            <DxCard>
                <DxCardHeader>
                    <DxCardTitle>Unsere Ziele</DxCardTitle>
                </DxCardHeader>
                <DxCardBody>
                    <DxCardText>
                        Wir setzen uns ein für:
                    </DxCardText>
                    <DxList>
                        <DxListItem>Die Rettung von Tieren in Not</DxListItem>
                        <DxListItem>Medizinische Versorgung und Rehabilitation</DxListItem>
                        <DxListItem>Vermittlung in liebevolle neue Familien</DxListItem>
                        <DxListItem>Aufklärung über artgerechte Tierhaltung</DxListItem>
                    </DxList>
                </DxCardBody>
            </DxCard>
        </DxCol>
    </DxRow>

    <DxRow>
        <DxCol Size="12">
            <DxCard>
                <DxCardHeader>
                    <DxCardTitle>Unser Team</DxCardTitle>
                </DxCardHeader>
                <DxCardBody>
                    <DxCardText>
                        Unser Team besteht aus engagierten Tierfreunden, die sich ehrenamtlich für die Tiere einsetzen.
                        Jeder von uns bringt seine eigenen Fähigkeiten und Erfahrungen ein, um den Tieren bestmöglich zu helfen.
                    </DxCardText>
                </DxCardBody>
            </DxCard>
        </DxCol>
    </DxRow>
</DxContainer> 