@page "/tiere"

<PageTitle>Kahu Tiernothilfe - Tiere</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Unsere Tiere</h1>
            <p class="lead">
                Hier finden Sie unsere Sch端tzlinge, die ein neues Zuhause suchen.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="images/placeholder.jpg" class="card-img-top" alt="Tier 1">
                <div class="card-body">
                    <h5 class="card-title">Max</h5>
                    <p class="card-text">
                        Max ist ein freundlicher Hund, der gerne spielt und sich 端ber Aufmerksamkeit freut.
                        Er sucht ein liebevolles Zuhause mit Garten.
                    </p>
                    <a href="#" class="btn btn-primary">Mehr erfahren</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="images/placeholder.jpg" class="card-img-top" alt="Tier 2">
                <div class="card-body">
                    <h5 class="card-title">Luna</h5>
                    <p class="card-text">
                        Luna ist eine verspielte Katze, die gerne kuschelt und sich 端ber Spielzeug freut.
                        Sie sucht ein ruhiges Zuhause.
                    </p>
                    <a href="#" class="btn btn-primary">Mehr erfahren</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="images/placeholder.jpg" class="card-img-top" alt="Tier 3">
                <div class="card-body">
                    <h5 class="card-title">Balu</h5>
                    <p class="card-text">
                        Balu ist ein aktiver Hund, der gerne spazieren geht und sich 端ber Gesellschaft freut.
                        Er sucht ein aktives Zuhause.
                    </p>
                    <a href="#" class="btn btn-primary">Mehr erfahren</a>
                </div>
            </div>
        </div>
    </div>
</div> 